<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GitHub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Dashboard</a>
      </li>
      <li class="nav-item">
        <% if signed_in? %>
          <%= link_to "Sign out #{current_user.name}", sign_out_path, method: :delete, class: "nav-link" %>
        <% else %>
          <%= link_to 'Sign in', sign_in_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>